APP_NAME=CoFloww
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://ton-domaine.com

LOG_CHANNEL=stack
LOG_LEVEL=error

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=cofloww
DB_USERNAME=cofloww
DB_PASSWORD=MOT_DE_PASSE_FORT

SESSION_DRIVER=cookie
SESSION_DOMAIN=ton-domaine.com
SANCTUM_STATEFUL_DOMAINS=ton-domaine.com
FRONTEND_URL=https://ton-domaine.com
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync
